JTAS Overall Portal V5/pkgs/Wadl/JTAS_OverAll_Send_Notif_BreakIn_Out.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://japan-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="JTAS_OverAll_Send_Notif_BreakIn_Out" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="JTAS_OverAll_Send_Notif_BreakIn_Out" />
  <grammars>
    <jsonTypes targetNamespace="https://japan-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Postadaptivecardinachatorchannel_Recipient_def" />
      <string name="ManualTriggerInput_Postadaptivecardinachatorchannel_AdaptiveCard_def" />
      <string name="ManualTriggerInput_Postadaptivecardinachatorchannel_AdaptiveCard_1_def" />
      <string name="ManualTriggerInput_Postadaptivecardinachatorchannel_AdaptiveCard_2_def" />
      <string name="ManualTriggerInput_Postadaptivecardinachatorchannel_AdaptiveCard_3_def" />
      <object name="ManualTriggerInput">
        <property name="Postadaptivecardinachatorchannel_Recipient" type="string" />
        <property name="Postadaptivecardinachatorchannel_AdaptiveCard" type="string" />
        <property name="Postadaptivecardinachatorchannel_AdaptiveCard_1" type="string" />
        <property name="Postadaptivecardinachatorchannel_AdaptiveCard_2" type="string" />
        <property name="Postadaptivecardinachatorchannel_AdaptiveCard_3" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://japan-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Postadaptivecardinachatorchannel_Recipient" path="/Postadaptivecardinachatorchannel_Recipient" type="xs:string" required="true" />
            <param style="plain" name="Postadaptivecardinachatorchannel_AdaptiveCard" path="/Postadaptivecardinachatorchannel_AdaptiveCard" type="xs:string" required="true" />
            <param style="plain" name="Postadaptivecardinachatorchannel_AdaptiveCard_1" path="/Postadaptivecardinachatorchannel_AdaptiveCard_1" type="xs:string" required="true" />
            <param style="plain" name="Postadaptivecardinachatorchannel_AdaptiveCard_2" path="/Postadaptivecardinachatorchannel_AdaptiveCard_2" type="xs:string" required="true" />
            <param style="plain" name="Postadaptivecardinachatorchannel_AdaptiveCard_3" path="/Postadaptivecardinachatorchannel_AdaptiveCard_3" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>